table {
  width: 100%;
  text-align: left;
}

table thead th {
  color: #999999;
  text-transform: uppercase;
  font-size: 13px;
}

table {
  border-collapse: collapse;
}

table tbody td {
  padding-top: 35px;
  padding-bottom: 35px;
  font-size: 13px;
  color: #222222;
  border-bottom: 1px solid
    rgba(112, 112, 112, 0.2);
}
table tbody tr:last-child td {
  border-bottom: none;
}

table tbody tr:first-child td {
  padding-top: 30px;
}

@media (max-width: 430px) {
  .title .image-wrapper {
    display: none;
  }
}
